<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="movie.app">
 	<select id="list" resultType="board" flushCache="true" useCache="true">
 	<!-- resultType mybatis alias이름  -->
 		SELECT IDX, SUBJECT, CONTENT, WRITER, TO_CHAR(REGDATE,'YYYY-MM-DD') AS REGDATE, CNT
 		FROM BBS_TBL
 		ORDER BY REGDATE 
 	</select>
 	
 	<insert id="insert" parameterType="board" useGeneratedKeys="true" keyProperty="idx" keyColumn="idx">
 		INSERT INTO BBS_TBL VALUES(BB_SEQ.NEXTVAL, #{subject}, #{content}, #{writer}, SYSDATE, 0)
 	</insert>
</mapper>  

