<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.kbstar.movie.user.model.vo.UserVO" alias="user"/>
		<typeAlias type="com.kbstar.movie.model.vo.BoardVO" alias="board"/>
		<typeAlias type="com.kbstar.movie.boxoffice.model.vo.BoxOfficeVO" alias="boxoffice"/>
		<typeAlias type="com.kbstar.movie.boxoffice.model.vo.TheaterVO" alias="theater"/>
		<typeAlias type="com.kbstar.movie.boxoffice.model.vo.BookingVO" alias="booking"/>
		
	</typeAliases>
	
</configuration>

